@{
    ViewBag.Title = "Potvrdite mail";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Hvala Vam na potvrdi mail-a. Za dalje: @Html.ActionLink("kliknite ovdje", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
