@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Zagrebačka cesta<br />
    Velika Gorica<br />
    <abbr title="Phone">Telefon:</abbr>
    123-123-123
</address>

<address>
    <strong>Programer:</strong><a href="mailto:josip@example.com">josip.pavlovic@vvg.hr</a><br />
    <strong>Baze podataka:</strong> <a href="mailto:petar@example.com">petar.vukovic@vvg.hr</a><br />
    <strong>Projektant:</strong> <a href="mailto:zrinko@example.com">zrinko.kaurin@vvg.hr</a>
</address>